:root {
  --azul: #3772FF;
  --verde: #36D6AD;
  --coral: #FC7071;
  --creme: #FCF0A3;
  --cinza: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-claro-fundos: #F7F7F7;

  --fonte-principal: 'Poppins', sans-serif;
  --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

.bg-azul {
  background-color: var(--azul);  
}

.cabecalho {
  padding: 3em;
}

